---
import Layout from "../../layouts/MainLayout.astro";

import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import { SITE_DESCRIPTION } from "../../consts";
import Pagination from "../../components/Pagination.astro";
import BlogCard from "../../components/card/BlogCard.astro";

const posts = (await getCollection("services")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

export async function getStaticPaths({ paginate }) {
  const posts = (await getCollection("services")).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
  );

  return paginate(posts, {
    pageSize: 6,
  });
}

const { page } = Astro.props;

const site = Astro.site?.toString() ?? "";

const baseUrl = `${site}services/`;
---

<Layout title="Services" description={SITE_DESCRIPTION}>
  <div class="container py-5 lg:py-15">
	 <!-- Breadcrumbs -->
      <div class="breadcrumbs text-sm mb-6">
        <ul class="flex! flex-wrap">
          <li><a href="/">Home</a></li>
          <li>Services</li>
        </ul>
      </div>

	  <h1>Services</h1>
    <section>
      <ul
        class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10 items-stretch"
      >
        {
          page.data.map((post) => (
            <li>
              <BlogCard slug="/services" {...post} date={false} book={true}/>
            </li>
          ))
        }
      </ul>

      {page.lastPage != 1 && <Pagination page={page} />}
    </section>
  </div>
</Layout>
