---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Header from "../components/Header.astro";
import Layout from "./MainLayout.astro";
import { ChevronRight } from  '@lucide/astro';

type Props = CollectionEntry<"blog">["data"];

const {
  title,
  description,
  pubDate,
  updatedDate,
  heroImage,
  breadcrumbParent,
  date = true,
  book=false
} = Astro.props;
---

<Layout title={title} description={description} image={heroImage}>
  <div class="container py-5 lg:py-15">
    <div class="breadcrumbs text-sm mb-5">
      <ul class="flex! flex-wrap">
        <li><a href="/">Home</a></li>
        <li><a href="./">{breadcrumbParent}</a></li>
        <li>{title}</li>
      </ul>
    </div>
    <article>
      <div class="text-center">
        <div class="date">
          {date && <FormattedDate date={pubDate} />}
          {
            updatedDate && (
              <div class="last-updated-on">
                Last updated on <FormattedDate date={updatedDate} />
              </div>
            )
          }
        </div>
        <h1>{title}</h1>
        <hr />
      </div>
      <div>
        {
          heroImage && (
            <Image
              width={1020}
              height={510}
              src={heroImage}
			  format="webp"
			  fetchpriority="high"
			  quality="low"
			  loading="eger"
              alt=""
              class="rounded-lg aspect-2/1 object-cover w-full my-10"
            />
          )
        }
      </div>
      <div class="page max-w-5xl mx-auto">
        <slot />
		{book && <a href="#" class="mt-5 btn bg-[linear-gradient(125deg,var(--color-main-100),var(--color-main-200))] text-white border-0 shadow-xl hover:shadow-2xl w-full">Book an appointment <ChevronRight /></a>}
      </div>
    </article>
  </div>
</Layout>

